<form  #myForm = "ngForm" (ngSubmit) = "onClickSubmit(myForm.value)">
  <label>City : </label>
  <input placeholder= 'City' name = "city" ngModel> <br/>

  <label>Country Code (Unicode 2 characters) : </label>
  <input placeholder= 'XX' name = "country" ngModel> <br/>
  <input type = "submit" value = "Submit">
</form>

<br/>
<hr/>
<div *ngIf = "resp">
<img src = "{{logourl}}"> <br/>
Current weather: {{resp?.weather[0].main}} <br/>
Temperature: {{resp.main.temp}} <br/>
Humidity: {{resp.main.humidity}}
</div>